<ion-app>
    <ion-header>
      <ion-toolbar *ngIf='!isMobile()'>
        <a href='https://missouri.edu/' target='_blank' slot='start'>
          <ion-avatar slot='start' id='mu-img'>
            <img src='../assets/mu-logo.png'>
          </ion-avatar>
        </a>
        <ion-text slot='start'><h3 id='faculty-h3'><a id='faculty-link' class='white' href="https://engineering.missouri.edu/faculty/bazan-antequera/" target="_blank">Ronny Bazan Antequera</a></h3></ion-text>
      <ion-buttons slot='start' class='desktop-nav-buttons'>
      <ion-button routerLink='/home' class='desktop-nav-button' routerLinkActive='active'>Home</ion-button>
      <ion-button routerLink='/bio' class='desktop-nav-button' routerLinkActive='active'>Bio</ion-button>
      <ion-button routerLink='/research' class='desktop-nav-button' routerLinkActive='active'>Research</ion-button>
      <ion-button href='/cv.pdf' target='_blank' class='desktop-nav-button'>CV</ion-button>
      <ion-button (click)='teachingPresent($event)' class='desktop-nav-button' [class.active]='this.isOnCourses()'>Courses</ion-button>
      <ion-button class='desktop-nav-button'><a href='https://cybertigers.org' target='_blank' class='glitch' data-text='CyberTigers @ MU'>CyberTigers @ MU</a></ion-button>
    </ion-buttons>
      </ion-toolbar>
      <ion-toolbar *ngIf='isMobile()'>
        <a href='https://missouri.edu/' target='_blank' slot='start'>
          <ion-avatar slot='start' id='mu-img'>
            <img src='../assets/mu-logo.png'>
          </ion-avatar>
        </a>
        <ion-text slot='start'><h3 id='faculty-h3'><a id='faculty-link' class='white' href="https://engineering.missouri.edu/faculty/bazan-antequera/" target="_blank">Ronny Bazan Antequera</a></h3></ion-text>
        <ion-buttons slot='end'><ion-button color='dark' (click)='openMenu()'><ion-icon name='menu' id='menu-icon'></ion-icon></ion-button></ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet id="main"></ion-router-outlet>

    <ion-menu side="end" menuId="main" contentId="main">
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item class='menu-item' routerLink='/home' (click)='closeMenu()'>
            <ion-icon slot='start' name='home' color='success'></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item class='menu-item' routerLink='/bio' (click)='closeMenu()'>
            <ion-icon slot='start' name='person' color='primary'></ion-icon>
            <ion-label>Bio</ion-label>
          </ion-item>
          <ion-item class='menu-item' routerLink='/research' (click)='closeMenu()'>
            <ion-icon slot='start' name='search' color='tertiary'></ion-icon>
            <ion-label>Research</ion-label>
          </ion-item>
          <a href='/assets/cv.pdf' target='_blank' (click)='closeMenu()'>
          <ion-item class='menu-item'>
            <ion-icon slot='start' name='document-text' color='dark'></ion-icon>
            <ion-label>CV</ion-label>      
          </ion-item>
          </a>
          <ion-item class='menu-item no-select' (click)='teachingPresent($event)' id='courses-item'>
            <ion-icon slot='start' name='layers-outline' class='menu-icon'></ion-icon>
            <ion-label>Courses</ion-label>
          </ion-item>
          <ion-item class='menu-item no-select' (click)='closeMenu()'>
            <ion-icon slot='start' name='log-out-outline' color='danger' class='menu-icon'></ion-icon>
            <a href='https://cybertigers.org' target='_blank' class='glitch white' data-text='CyberTigers @ MU'>CyberTigers @ MU</a>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
</ion-app>
