<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>
  <ion-text class='ion-text-center'><h3>Biography</h3></ion-text>
  <br>
  <ion-text><p>
Ronny Bazan is an assistant teaching professor for the IT Program in the Electrical Engineering and Computer Science Department at the University of Missouri. He was the recipient of a Fulbright scholarship to obtain his MS in Computer Science at MU where he was awarded as an Outstanding Master Student. He went on to earn a PhD in Electrical Engineering and Computer Science from the University of Missouri.
Before joining MU, he worked as a senior system administrator in industry. During that time he obtained training in Advanced Windows Servers administration in Japan and Computer Networking and Advanced Linux Servers administration in India through long-term scholarships. He has obtained professional certifications from Microsoft, Cisco and VMware.
  </p></ion-text>

<ion-text><h5>Education</h5></ion-text>

PhD from University of Missouri
MS from University of Missouri
BS from San Andres University, Bolivia

<ion-text><h5>Technical Focus</h5></ion-text>

Computer Networking
Cybersecurity
</ion-content>
