<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>
  <img src='../../../assets/ronny_teaching.jpg' id='ronny-teaching'>
  <ion-text class='ion-text-center'><h3 id='title'>Biography</h3></ion-text>
  <div id='bio'>
  <br>
  <ion-text><p class='bio-text'>
    <br>
Ronny Bazan is an assistant teaching professor for the IT Program in the Electrical Engineering and Computer Science Department at the University of Missouri. He was the recipient of a Fulbright scholarship to obtain his MS in Computer Science at MU where he was recognized as an Outstanding Master Student. He went on to earn a PhD in Electrical Engineering and Computer Science from the University of Missouri.
Before joining MU, he worked as a Senior System Administrator in the industry. During that time, he obtained training in Advanced Windows Servers Administration in Japan, and Computer Networking and Advanced Linux Servers Administration in India, through long-term scholarships. He has obtained professional certifications from Microsoft, Cisco and VMware.
  </p></ion-text>
  <br>
  
  <ion-text><p class='bio-text'>
    Dr. Bazan teaches a variety of online and in-person courses at Mizzou in the Computer Science and Information Technology departments with an emphasis on Linux systems and cybersecurity. At Mizzou,
    Dr. Bazan worked to establish the Cybersecurity Certificate program, established new courses in security, and sponsored the formation of the CyberTigers student organization. In research, Dr. Bazan focuses on cybersecurity and performance in cloud computing applications.
    </p></ion-text><br>
  </div>
<div id='ed'>
<ion-text><h5>Education</h5></ion-text>
<ul>
  <li>PhD from University of Missouri</li>
  <li>MS from University of Missouri</li>
  <li>BS from San Andres University, Bolivia</li>
</ul>

<ion-text><h5>Technical Focus</h5></ion-text>

<ul>
  <li>Computer Networking</li>
  <li>Cybersecurity</li>
</ul>
</div>
</ion-content>
