<ion-list>
  <ion-item>
    <a routerLink='/courses/computer_network_security' routerLinkActive='active' (click)='dismiss()'>Computer Network Security</a>
  </ion-item>
  <ion-item>
    <a routerLink='/courses/adv_cyber_security' routerLinkActive='active' (click)='dismiss()'>Advanced Cyber Security</a>
  </ion-item>
  <ion-item>
    <a routerLink='/courses/system_administration' routerLinkActive='active' (click)='dismiss()'>Computer System Administration</a>
  </ion-item>
  <ion-item>
    <a routerLink='/courses/digital_forensics' routerLinkActive='active' (click)='dismiss()'>Digital Forensics</a>
  </ion-item>
  <ion-item>
    <a routerLink='/courses/unix_os' routerLinkActive='active' (click)='dismiss()'>UNIX Operating System</a>
  </ion-item>
</ion-list>